<!-- wp:group {"metadata":{"categories":["literair-nederland"],"patternName":"ln/fotosynthese-hero","name":"LN Fotosynthese hero"},"className":"ln-fotosynthese-group is-style-ln-fotosynthese"} -->
<div class="wp-block-group ln-fotosynthese-group is-style-ln-fotosynthese"><!-- wp:group {"style":{"spacing":{"padding":{"top":"2em","bottom":"2em"},"blockGap":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:2em;padding-bottom:2em"><!-- wp:template-part {"slug":"header-met-icons","align":"wide","className":"has-page-borders-top"} /-->

<!-- wp:group {"tagName":"main","align":"wide","className":"has-page-borders-bottom ln-padding","backgroundColor":"white","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide has-page-borders-bottom ln-padding has-white-background-color has-background"><!-- wp:query {"queryId":0,"query":{"perPage":12,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:group -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-content /-->

<!-- wp:group {"className":"ln-padding","style":{"typography":{"fontSize":"14px"}},"layout":{"type":"flex"}} -->
<div class="wp-block-group ln-padding" style="font-size:14px"><!-- wp:post-author {"showAvatar":false,"showBio":false} /-->

<!-- wp:post-date {"isLink":true,"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /-->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","align":"wide"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->